default/.terraform*
default/TODO
default/terraform.tfstate*
default/distfiles/rtc.lic
default/output/*
default/.DS_Store
.DS_Store
default/distfiles/demotools.tar.gz
default/tfplan
default/config
default/.envrc
