default/.terraform*
default/TODO
default/terraform.tfstate*
default/distfiles/rtc.lic
default/output/*
default/.DS_Store
.DS_Store
default/distfiles/demotools.tar.gz
default/tfplan
default/config
default/.envrc
default/module-aks.tf
**/__pycache__/
**/node_modules/
**/python3.10/
**/.env
**/bin
default/dockerbuild/react-ui/crud-app/lib64
default/dockerbuild/react-ui/crud-app/pyvenv.cfg
**/build
default/values.yaml
